@tailwind base;
@tailwind components;
@tailwind utilities;

// Noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/relax.scss";

@layer base {
  body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  a {
    outline: none;
  }
  
}


/* Components */
@layer components {
  .main {
    width: 95%;
    @apply sm:w-[640px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] mx-auto px-4;
  }
  .hover-anime {
    @apply transition-all duration-150 ease-in;
  }
}