<ul
  class="errorDiv hidden bg-rose-200 text-xs text-rose-700 px-2 pl-6 capitalize list-disc rounded-sm border border-rose-400 mt-3 italic"
>
  <!-- <li class="py-1">one</li>
  <li class="py-1">two</li>
  <li class="py-1">three</li> -->
</ul>
