<div class="form-header flex flex-row justify-between">
  <h1 class="text-lg font-bold tracking-wide border-b-4 text-rose-600 border-rose-400">
    <%= message %>
  </h1>
  <%if(isOtp) {%>
  <div
  id="otp-cuntdown"
    class="flex flex-row w-[60px] px-1 gap-1 justify-around items-center rounded-ful bg-rose-400 py-1 rounded-full font-bold text-slate-100 tracking-wide">
    02:00
  </div>

  <% } else {%>
  <%- include('./formHeaderBtn.ejs') %>
  <% }%>
</div>