<section class="py-16 bg-rose-50">
  <div class="hero main flex justify-between">
    <div class="hero_content flex items-center w-1/2">
      <div>
        <p class="text-slate-600 mb-3">Are you hungry?</p>
        <h1 class="text-6xl font-bold">Don't wait !</h1>

        <button
          class="rounded-full bg-rose-500 px-4 py-2 mt-8 text-base text-slate-100"
        >
          Order Now
        </button>
      </div>
    </div>

    <div class="hero_img w-1/2 grid place-items-center">
      <img class="w-4/5" src="/img/mix-pizza.png" alt="" />
    </div>
  </div>
</section>

<!--   All pizza  -->

<section class="menu py-6">
  <div class="main">
    <h1 class="capitalize font-extrabold tracking-wider text-lg text-slate-700 mb-6">
      All pizzas
    </h1>

    <!-- menu card -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-16 place-items-center">

    <div class="w-64 flex flex-col items-center bg-slate-50 p-4 px-6 hover:shadow-md hover-anime">
      <div class="text-slate-700 w-full">
        <img class="h-40 mb-4 mx-auto" src="img/olive-mixed-pizza.png" alt="pizza" />

        <div  class="flex flex-col items-center gap-3">
          <h2 class="font-medium text-lg tracking-wide capitalize">pizza name</h2>
          <span class="px-2 bg-rose-50 rounded-full uppercase text-xs">small</span>
          <div class="flex justify-around items-center fle-row w-full mt-2">
            <h3 class="font-semibold">₹ 250/-</h3>

            <button class="flex justify-between px-5 py-1 border-2 font-semibold text-rose-600 hover:text-rose-50 border-rose-600 rounded-full bg-rose-50 hover:bg-rose-600 hover-anime">
              <span class="mr-3">+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-64 flex flex-col items-center bg-slate-50 p-4 px-6 hover:shadow-md hover-anime">
      <div class="text-slate-700 w-full">
        <img class="h-40 mb-4 mx-auto" src="img/olive-mixed-pizza.png" alt="pizza" />

        <div  class="flex flex-col items-center gap-3">
          <h2 class="font-medium text-lg tracking-wide capitalize">pizza name</h2>
          <span class="px-2 bg-rose-50 rounded-full uppercase text-xs">small</span>
          <div class="flex justify-around items-center fle-row w-full mt-2">
            <h3 class="font-semibold">₹ 250/-</h3>

            <button class="flex justify-between px-5 py-1 border-2 font-semibold text-rose-600 hover:text-rose-50 border-rose-600 rounded-full bg-rose-50 hover:bg-rose-600 hover-anime">
              <span class="mr-3">+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-64 flex flex-col items-center bg-slate-50 p-4 px-6 hover:shadow-md hover-anime">
      <div class="text-slate-700 w-full">
        <img class="h-40 mb-4 mx-auto" src="img/olive-mixed-pizza.png" alt="pizza" />

        <div  class="flex flex-col items-center gap-3">
          <h2 class="font-medium text-lg tracking-wide capitalize">pizza name</h2>
          <span class="px-2 bg-rose-50 rounded-full uppercase text-xs">small</span>
          <div class="flex justify-around items-center fle-row w-full mt-2">
            <h3 class="font-semibold">₹ 250/-</h3>

            <button class="flex justify-between px-5 py-1 border-2 font-semibold text-rose-600 hover:text-rose-50 border-rose-600 rounded-full bg-rose-50 hover:bg-rose-600 hover-anime">
              <span class="mr-3">+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-64 flex flex-col items-center bg-slate-50 p-4 px-6 hover:shadow-md hover-anime">
      <div class="text-slate-700 w-full">
        <img class="h-40 mb-4 mx-auto" src="img/olive-mixed-pizza.png" alt="pizza" />

        <div  class="flex flex-col items-center gap-3">
          <h2 class="font-medium text-lg tracking-wide capitalize">pizza name</h2>
          <span class="px-2 bg-rose-50 rounded-full uppercase text-xs ">small</span>
          <div class="flex justify-around items-center fle-row w-full mt-2">
            <h3 class="font-semibold">₹ 250/-</h3>

            <button class="flex justify-between px-5 py-1 border-2 font-semibold text-rose-600 hover:text-rose-50 border-rose-600 rounded-full bg-rose-50 hover:bg-rose-600 hover-anime">
              <span class="mr-3">+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-64 flex flex-col items-center bg-slate-50 p-4 px-6 hover:shadow-md hover-anime">
      <div class="text-slate-700 w-full">
        <img class="h-40 mb-4 mx-auto" src="img/olive-mixed-pizza.png" alt="pizza" />

        <div  class="flex flex-col items-center gap-3">
          <h2 class="font-medium text-lg tracking-wide capitalize">pizza name</h2>
          <span class="px-2 bg-rose-50 rounded-full uppercase text-xs">small</span>
          <div class="flex justify-around items-center fle-row w-full mt-2">
            <h3 class="font-semibold">₹ 250/-</h3>

            <button class="flex justify-between px-5 py-1 border-2 font-semibold text-rose-600 hover:text-rose-50 border-rose-600 rounded-full bg-rose-50 hover:bg-rose-600 hover-anime">
              <span class="mr-3">+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-64 flex flex-col items-center bg-slate-50 p-4 px-6 hover:shadow-md hover-anime">
      <div class="text-slate-700 w-full">
        <img class="h-40 mb-4 mx-auto" src="img/olive-mixed-pizza.png" alt="pizza" />

        <div  class="flex flex-col items-center gap-3">
          <h2 class="font-medium text-lg tracking-wide capitalize">pizza name</h2>
          <span class="px-2 bg-rose-50 rounded-full uppercase text-xs">small</span>
          <div class="flex justify-around items-center fle-row w-full mt-2">
            <h3 class="font-semibold">₹ 250/-</h3>

            <button class="flex justify-between px-5 py-1 border-2 font-semibold text-rose-600 hover:text-rose-50 border-rose-600 rounded-full bg-rose-50 hover:bg-rose-600 hover-anime">
              <span class="mr-3">+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-64 flex flex-col items-center bg-slate-50 p-4 px-6 hover:shadow-md hover-anime">
      <div class="text-slate-700 w-full">
        <img class="h-40 mb-4 mx-auto" src="img/olive-mixed-pizza.png" alt="pizza" />

        <div  class="flex flex-col items-center gap-3">
          <h2 class="font-medium text-lg tracking-wide capitalize">pizza name</h2>
          <span class="px-2 bg-rose-50 rounded-full uppercase text-xs">small</span>
          <div class="flex justify-around items-center fle-row w-full mt-2">
            <h3 class="font-semibold">₹ 250/-</h3>

            <button class="flex justify-between px-5 py-1 border-2 font-semibold text-rose-600 hover:text-rose-50 border-rose-600 rounded-full bg-rose-50 hover:bg-rose-600 hover-anime">
              <span class="mr-3">+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  </div>
</section>
