<!-- Form field name and type -->
<% const formFields = [ { name: 'name', label: 'Full Name', type: 'text' }, {
name: 'email', label: 'Email', type: 'email' }, { name: 'password', label:
'Password', type: 'password' }, { name: 'confirmPassword', label:
'ConfirmPassword', type: 'password' } ]; %>
<!-- form name and id -->
<% const form = { formFields, formId: "registerForm", btnLabel: "Register",
aLink: "/login", aLabel: "All ready have account."}%>

<section class="bg-rose-50">
  <div class="main h-screen flex flex-col justify-center items-center">
    <div class="w-80 p-5 bg-slate-50 shadow-md rounded-md">
      <!-- form Header -->
      <%- include('../../partials/form/formHeader.ejs', { message: "Register Now"}) %>

      <!-- Form -->
      <%- include("../../partials/form/form.ejs", form) %>
    </div>
    <small class="mt-3 text-slate-300"
      >©2023 Pizza Corp. All rights reserved.</small
    >
  </div>
</section>
